<header class="header">
  <ul class="menu">
    <li class="menu__item"><%= link_to "Welcome", root_path %></li>
    <li class="menu__item"><%= link_to "Portfolio", "portfolio" %></li>
    <li class="menu__item"><%= link_to "Blog", "https://dev.to/petr7555", target: "_blank", rel: "noreferrer noopener" %></li>
    <li class="menu__item"><%= link_to "About", "about" %></li>
    <li class="menu__item"><%= link_to "Contact", "contact" %></li>
  </ul>
  <div class="my-name">
    <p>Petr Janík</p>
  </div>
</header>
