<!DOCTYPE html>
<html>
    <head>
        <title>Portfolio</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap" rel="stylesheet">

        <!-- Carousel -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    </head>

    <body>
        <header class="header">
            <ul class="menu">
                <li class="menu__item"><%= link_to "Welcome", root_path %></li>
                <li class="menu__item"><%= link_to "Portfolio", "portfolio" %></li>
                <li class="menu__item"><%= link_to "Blog", "https://dev.to/petr7555" %></li>
                <li class="menu__item"><%= link_to "About", "about" %></li>
                <li class="menu__item"><%= link_to "Contact", "contact" %></li>
            </ul>
            <div class="my-name">
                <p>Petr Janík</p>
            </div>
        </header>

        <%= yield %>

        <footer class="footer">
            <ul class="social">
                <li class="social__icon"><%= link_to image_tag("social/github.svg", :alt => 'github icon', :title => 'GitHub'), "https://github.com/petr7555" %>
                </li>
                <li class="social__icon"><%= link_to image_tag("social/linkedin.svg", :alt => 'linkedin icon', :title => 'LinkedIn'),
                    "https://www.linkedin.com/in/petr-janik" %>
                </li>
                <li class="social__icon"><%= link_to image_tag("social/twitter.svg", :alt => 'twitter icon', :title => 'Twitter'), "https://twitter.com/petajanik"
                    %>
                </li>
            </ul>
            <p>&copy; 2020 Petr Janík</p>
            <p>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel
                perfect</a> from
                <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></p>
        </footer>
    </body>
</html>
